@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello;</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>This application explores the power of ASP.NET Form Validation</p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/Contact">Click to experience <strong style="color:red">HERE</strong></a></p>
</div>
